* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100%;
    padding: 30px 50px;
    background-color: #242323;
    color: #f3f2f2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.infos {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infos h2{
    border: 1px solid #f3f2f2;
    border-radius: 5px;
    padding: 8px 15px;
}

.board{
    border: 1px solid #f3f2f2;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.box{
    border: 1px inset #868686;
    width: 3.333%;
    height: 30.72px;
}